<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精选界面</title>
    <style>
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .tuijian{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zhengzhi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .english{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zuhanyeke{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            float: left;
            margin-top: -700px;
        }
        .header{
            height:80px;
            width: 1200px;
            /* background-color: blueviolet; */
        }
        .managerM{
            height: 80px;
            width: 200px;
            float: left;
            background-color: #bebebe;
            margin-left: 50px;
            border-radius: 12px;
        }
        .userM{
            height:80px;
            width: 200px;
            margin-left: 800px;
            float: left;
            background-color: #bebebe;
            margin-top:-80px; 
            border-radius: 12px;
        }
        /* .table{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 20px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        } */
    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="tuijian" onclick="tuijian()">
                推荐
            </div>
            <div class="zhengzhi" onclick="zhengzhi()">
                政治
            </div>
            <div class="english" onclick="english()">
                英语
            </div>
            <div class="zuhanyeke" onclick="zhuanyeke()">
                专业课
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="managerM" onclick="manager()">
                    管理员信息
                </div>
                <div class="userM" onclick="user()">
                    用户信息
                </div>
            </div>
            <tr>
                <td>名称</td>
                <td>表格名称</td>
                <td>操作</td>
            </tr>
            <!-- <div class="table">
                <input type="text" class="serch">
                <button class="serch0">
                    查询
                </button>
            </div> -->
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function tuijian() {
        window.location = "http://localhost:3000/tuijian";
    }
    function zhengzhi() {
        window.location = "http://localhost:3000/zhengzhi";
    }
    function english() {
        window.location = "http://localhost:3000/english";
    }
    function zhuanyeke() {
        window.location = "http://localhost:3000/zhuanyeke";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
    function manager(){
        window.location = "http://localhost:3000/managerM"
    }
    function user(){
        window.location = "http://localhost:3000/userM"
    }
</script>

</html>