<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分数统计</title>
    <style>
        .left{
            height:705px;
            width:300px;
            float: left;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color:#bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .xiangxi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .fenshu{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .dingdan{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .cengjing{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            height:50px;
            margin-left: 12px;
            /* background-color: bisque; */
        }
        .right p{
            padding-left: 200px;
            margin-left: 600px;
            padding-top:10px;
            margin-top:10px;
        }
        .table0{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 220px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 100px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <!-- <div class="jingxuan" onclick="jingxuan()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的 -->
            <!-- </div> -->
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
            <div class="xiangxi" onclick="xiangxi()">
                详细信息
            </div>
            <div class="fenshu" onclick="fenshu()">
                分数统计
            </div>
            <div class="dingdan" onclick="dingdan()">
                我的订单
            </div>
            <div class="cengjing" onclick="cengjing()">
                历史课程
            </div>
        </div>
        <div class="right">
            <p>分数统计的表格</p>
            <div class="table0">
                <input type="text" class="serch">
                <button class="serch0">
                    查询
                </button>
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <th>
                            名称
                        </th>
                        <th>
                            具体内容    
                        </th>
                        <th>
                            对表格的操作
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>数学 </td>
                    <td>90</td>
                    <td>
                        <button><a href="">编辑</a></button>
                        <button>
                            <a href="">删除</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>英语</td>
                    <td>60</td>
                    <td>
                        <button><a href="">编辑</a></button>
                        <button>
                            <a href="">删除</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>数学 </td>
                    <td>92</td>
                    <td>
                        <button><a href="">编辑</a></button>
                        <button>
                            <a href="">删除</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>专业课 </td>
                    <td>92</td>
                    <td>
                        <button><a href="">编辑</a></button>
                        <button>
                            <a href="">删除</a>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
    function xiangxi() {
        window.location = "http://localhost:3000/xiangxi";
    }
    function fenshu() {
        window.location = "http://localhost:3000/fenshu";
    }
    function dingdan() {
        window.location = "http://localhost:3000/dingdan";
    }
    function cengjing() {
        window.location = "http://localhost:3000/cengjing";
    }
</script>
</html>