<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习期刊</title>
    <style>
        .left{
            height:705px;
            width:300px;
            float: left;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .renwu{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .danci{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .tiku{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .qikan{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .kecheng{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            height:50px;
            margin-left: 12px;
            /* background-color: bisque; */
        }
        .right p{
            padding-left: 200px;
            margin-left: 600px;
            padding-top:10px;
            margin-top:10px;
        }
        .table0{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 220px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 100px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="renwu" onclick="renwu()">
                任务
            </div>
            <div class="danci" onclick="danci()">
                单词
            </div>
            <div class="tiku" onclick="tiku()">
                题库
            </div>
            <div class="qikan" onclick="qikan()">
                期刊
            </div>
            <div class="kecheng" onclick="kecheng()">
                在线课程
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <p>关于学习期刊的表格</p>
            <div class="table0">
                <input type="text" class="serch">
                <button class="serch0">
                    查询
                </button>
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <th>
                            名称
                        </th>
                        <th>
                            具体内容     
                        </th>
                        <th>
                            对表格的操作
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>《自然》Nature</td>
                    <td>《自然》（Nature）是世界上历史悠久的、
                        很有名望的科学杂志之一，是少数依然发表来自很多科学
                        领域的一手研究论文的杂志。在许多科学研究领域中，很多重要
                        、前沿的研究结果都是以短讯的形式发表在《自然》上。</td>
                    <td>
                        <button><a>编辑</a></button>
                        <button><a>删除</a></button>
                    </td>
                </tr>
                <tr>
                    <td>《发现》Discover</td>
                    <td>《发现》（Discover）杂志是世界闻名的科普杂志，杂志内容定位于
                        科学、技术和未来，具体栏目包括健康与医学、心灵与脑、
                        技术、空间、人类起源、生活世界、环境、物理与数学等等。</td>
                    <td>
                        <button><a>编辑</a></button>
                        <button><a>删除</a></button>
                    </td>
                </tr>
                <tr>
                    <td>《美国国家地理》</td>
                    <td>《国家地理》内容包括地理、科普、历史
                        、文化、实事、摄影等。部分文章经常涉及到自然环境、
                        森林砍伐、环境污染、全球暖化、濒危物种等，一系列的主题充分
                        满足读者对地理探索的好奇心。</td>
                    <td>

                        <button><a>编辑</a></button>
                        <button><a>删除</a></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function renwu() {
        window.location = "http://localhost:3000/renwu";
    }
    function danci() {
        window.location = "http://localhost:3000/danci";
    }
    function tiku() {
        window.location = "http://localhost:3000/tiku";
    }
    function qikan() {
        window.location = "http://localhost:3000/qikan";
    }
    function kecheng() {
        window.location = "http://localhost:3000/kecheng";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
</script>

</html>