<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>每日任务</title>
    <style>
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
            float: left;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .renwu{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .danci{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .tiku{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .qikan{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .kecheng{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            height:50px;
            margin-left: 12px;
            /* background-color: bisque; */
        }
        .right p{
            padding-left: 200px;
            margin-left: 600px;
            padding-top:10px;
            margin-top:10px;
        }
        .table0{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 220px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 100px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="renwu" onclick="renwu()">
                任务
            </div>
            <div class="danci" onclick="danci()">
                单词
            </div>
            <div class="tiku" onclick="tiku()">
                题库
            </div>
            <div class="qikan" onclick="qikan()">
                期刊
            </div>
            <div class="kecheng" onclick="kecheng()">
                在线课程
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <p>关于每日任务的表格</p>
            <div class="table0">
                <input type="text" class="serch">
                <button class="serch0">
                    查询
                </button>
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <th>
                            名称
                        </th>
                        <th>
                            具体内容     
                        </th>
                        <th>
                            对表格的操作
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>小孙</td>
                    <td>英语单词，阅读，作文</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>小孙</td>
                    <td>专业课题目</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>小孙</td>
                    <td>背政治</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function renwu() {
        window.location = "http://localhost:3000/renwu";
    }
    function danci() {
        window.location = "http://localhost:3000/danci";
    }
    function tiku() {
        window.location = "http://localhost:3000/tiku";
    }
    function qikan() {
        window.location = "http://localhost:3000/qikan";
    }
    function kecheng() {
        window.location = "http://localhost:3000/kecheng";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
</script>

</html>