<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>研题库</title>
    <style>
        .left{
            height:705px;
            width:300px;
            float: left;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .renwu{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .danci{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .tiku{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .qikan{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .kecheng{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            height:50px;
            margin-left: 12px;
            /* background-color: bisque; */
        }
        .right p{
            padding-left: 200px;
            margin-left: 600px;
            padding-top:10px;
            margin-top:10px;
        }
        .table0{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 220px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 100px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="renwu" onclick="renwu()">
                任务
            </div>
            <div class="danci" onclick="danci()">
                单词
            </div>
            <div class="tiku" onclick="tiku()">
                题库
            </div>
            <div class="qikan" onclick="qikan()">
                期刊
            </div>
            <div class="kecheng" onclick="kecheng()">
                在线课程
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <p>关研题库的表格</p>
            <div class="table0">
                <input type="text" class="serch">
                <button class="serch0">
                    查询
                </button>
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <th>
                            名称
                        </th>
                        <th>
                            具体内容     
                        </th>
                        <th>
                            对表格的操作
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>为解决计算机与打印机之间速度不匹配的问题，通常设置一个打印数据缓冲区，主机将要输出的数据依次写入该缓冲区，而打印机则依次从该缓冲区中取出数据。该缓冲区的逻辑结构应该是
                        A.栈 B.队列 C.树 D.图
                    </td>
                    <td>A</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>设栈S和队列Q的初始状态均为空，元素abcdefg依次进入栈S。若每个元素出栈后立即进入队列Q，且7个元素出队的顺序是bdcfeag，则栈S的容量至少是 A.1 B.2 C.3 D.4</td>
                    <td>D</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>给定二叉树图所示。设N代表二叉树的根，L代表根结点的左子树，R代表根结点的右子树。若遍历后的结点序列为3，1，7，5，6，2，4，则其遍历方式是 A.LRN B.NRL C.RLN D.RNL</td>
                    <td>B</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>已知一棵完全二叉树的第6层(设根为第1层)有8个叶结点，则完全二叉树的结点个数最多是A.39 B.52 C.111 D.119</td>
                    <td>C</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>将森林转换为对应的二叉树，若在二叉树中，结点u是结点v的父结点的父结点，则在原来的森林中，u和v可能具有的关系是 I.父子关系 II.兄弟关系 III. u的父结点与v的父结点是兄弟关系
                        A.只有II B.I和II C.I和III D.I、II和III
                    </td>
                    <td>C</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function renwu() {
        window.location = "http://localhost:3000/renwu";
    }
    function danci() {
        window.location = "http://localhost:3000/danci";
    }
    function tiku() {
        window.location = "http://localhost:3000/tiku";
    }
    function qikan() {
        window.location = "http://localhost:3000/qikan";
    }
    function kecheng() {
        window.location = "http://localhost:3000/kecheng";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
</script>

</html>