<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详细信息</title>
    <style>
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color:#bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .xiangxi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .fenshu{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .dingdan{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .cengjing{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan">
                精选
            </div>
            <div class="tuijian">
                推荐
            </div>
            <div class="zhengzhi">
                政治
            </div>
            <div class="english">
                英语
            </div>
            <div class="zuhanyeke">
                专业课
            </div>
            <div class="study">
                学习
            </div>
            <div class="mine">
                我的
            </div>
        </div>
    </div>
</body>
</html>