<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>专业课</title>
    <style>
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
            float: left;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .tuijian{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zhengzhi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .english{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zuhanyeke{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            height:50px;
            margin-left: 12px;
            /* background-color: bisque; */
        }
        .right p{
            padding-left: 200px;
            margin-left: 600px;
            padding-top:10px;
            margin-top:10px;
        }
        .table0{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 220px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 100px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="tuijian" onclick="tuijian()">
                推荐
            </div>
            <div class="zhengzhi" onclick="zhengzhi()">
                政治
            </div>
            <div class="english" onclick="english()">
                英语
            </div>
            <div class="zuhanyeke" onclick="zhuanyeke()">
                专业课
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <p>关于专业课的表格</p>
            <div class="table0">
                <input type="text" class="serch">
                <button class="serch0">
                    查询
                </button>
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <th>
                            名称
                        </th>
                        <th>
                            具体内容     
                        </th>
                        <th>
                            对表格的操作
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>数据结构</td>
                    <td>这门课程是统考408初试考试四门专业课科目之一，也是大多数高校考研计算机初试必考科目，可见数据结构这门课在考研计算机初试中的重要地位。这门课程在计算机考研的考试范围中也是非常重要的，而《数据结构》的重点章节是线性表、树、图、查找和排序。参考书目是《数据结构C语言版》《数据结构精讲和习题讲解》（严蔚敏），大家可以结合这两本书进行知识点的学习，和一些习题的练习。</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>计算机组成原理</td>
                    <td>《计算机组成原理》的重点在数据的表示和运算、存储器层次结构、指令系统、中央处理器(CPU)、总线、输入输出(I/O)系统。参考书目是《计算机组成原理(第2版)》(唐朔飞主编)，《计算机组成原理-学习指导与习题解答》。复习时要掌握具体的知识体系，总结出自己的知识框架，多做练习。</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>操作系统</td>
                    <td>《操作系统》的重点在进程管理和内存管理，其次是文件管理和I/O管理。参考书目是《计算机操作系统》(汤子瀛等主编)。注意的是，存储部分、I/O部分和计算机组成原理课程中有重合，可以相互结合着看。虽然这部分知识相对来说没有那么难，但是复习的时候也不能忽视。</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>计算机网络</td>
                    <td>这门课程对于计算机专业的同学来说并不陌生，大家在前几年的课程中都有学过，这门课程的重点在物理层、数据链路层、网络层、传输层、应用层这些层次结构。要明白各个层次结构之间的关系，明白每个层都具有什么功能，拥有什么协议，重要的一些协议的内容以及作用。要能灵活地将各个层次联系起来。</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function tuijian() {
        window.location = "http://localhost:3000/tuijian";
    }
    function zhengzhi() {
        window.location = "http://localhost:3000/zhengzhi";
    }
    function english() {
        window.location = "http://localhost:3000/english";
    }
    function zhuanyeke() {
        window.location = "http://localhost:3000/zhuanyeke";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
</script>

</html>